#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    list-style-type: none;
    margin :10px;
    width: 200px;
    
}

#inv-display li a{
    color: black;
    text-decoration: none;
}

#inv-display li div {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 125px;
}

#inv-display li div img {
    border-radius: 2px;
    max-width: 100%;
    height: auto;
}

/* For vehicle display in classification view */
#inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
#inv-display div {
    width: 100%;
}